{% extends "page/base.html" %}

{% block content %}
<div id="model" >
</div>
<div class="flex flex-row flex-wrap w-full h-full pt-2">
	<div class="md:w-[80%] w-full h-fit overflow-x-hidden flex flex-col items-center md:items-start gap-2 py-2 md:pl-8">
		<iframe class="md:w-full md:h-[840px] w-[500px] h-[320px]" src="{{ embed_url }}" frameborder="0" allowfullscreen></iframe>
		<p class="text-2xl text-black dark:text-white">{{ video.title }}</p>
		<p class="text-md text-black dark:text-white">{{ video.description }}</p>
		<a href="/channel/{{video.channel.channel_id}}" class="link" >{{video.channel.title}}</a>
		<button
			hx-target="#model"
			hx-post="/playlist/getplaylistpopup/{{video.pk}}/"
			class="btn btn-primary" >
			Add to playlist
		</button>
	</div>

	<div class="flex flex-col w-full md:w-[20%] h-full gap-4 md:px-0 px-8">
		{% for vid in recommended %}
			{% include "page/video_item.html" with video=vid %}
		{% endfor %}
	</div>
</div>
{% endblock content %}
