{% extends "page/base.html" %}

{% block content %}
	<div class="w-screen min-h-screen" >
		<div class="flex flex-row justify-center p-12 ">
			<img src="{{channel.profile_medium}}" alt="" />

			<div class="p-2" >
				<h1 class="text-3xl font-bold" >{{channel.title}}</h1>
				{% load humanize %}
				<p>{{channel.subscriber_count|intcomma}} subscribers</p>
				<p>{{channel.views_count|intcomma}} views</p>
				<p class="mt-2" >{{channel.description}}</p>
			</div>
		</div>

		<div class="divider"></div>
		<div class="mx-auto px-4">
			<div class="w-full gap-2 grid grid-cols-4 grid-rows-*" >
				{% for video in videos %}
					<div class="p-1 flex flex-col gap-2 w-[400px] h-[280px] cursor-pointer relative">
						<a href="{% url 'video' video.video_id %}" >
							<img src="{{ video.thumbnail }}" class="w-[400px] h-[220px] bg-black bg-center bg-cover bg-center" >
						</a>
						{% include "account/WatchLaterButton.html" %}
						<p class="text-black dark:text-white truncate flex-wrap w-full pr-2">{{ video.title }}</p>
					</div>
				{% endfor %}
			</div>
		</div>

	</div>
{% endblock %}
