{% extends "page/base.html" %}

{% block content %}
	<div class="w-screen min-h-screen" >
		<p>{{time}}</p>
		<div class="flex flex-row justify-center p-12 ">
			<img src="{{channel.profile_medium}}" alt="" />

			<div class="p-2" >
				<h1 class="text-3xl font-bold" >{{channel.title}}</h1>
				{% load humanize %}
				<p>{{channel.subscriber_count|intcomma}} subscribers</p>
				<p>{{channel.views_count|intcomma}} views</p>
				<p class="mt-2" >{{channel.description}}</p>
			</div>
		</div>

		<div class="divider"></div>
		<div class="mx-auto px-4">

			<div
				hx-get="/channel/getvideos/{{channel.channel_id}}/10"
				hx-trigger="load"
				class="flex flex-wrap w-full h-full overflow-x-hidden gap-4 justify-center flex-row" >
				<span class="loading loading-dots loading-md" ></span>
			</div>
		</div>

	</div>
{% endblock %}
